.selected {
  font-weight: bold;
  color: #fff;
}
li:hover {
  color: #fff;
}
.icon {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #fff;
}
.triangle {
  position: absolute;
  top: 68px;
}